<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webshop.dao.ProductStoryMapper" >
  <resultMap id="BaseResultMap" type="com.cn.webshop.pojo.entity.ProductStory" >
    <id column="product_story_id" property="productStoryId" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_story_id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from product_story
    where product_story_id = #{productStoryId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from product_story
    where product_story_id = #{productStoryId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.cn.webshop.pojo.entity.ProductStory" >
    insert into product_story (product_story_id, name)
    values (#{productStoryId,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.webshop.pojo.entity.ProductStory" >
    insert into product_story
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productStoryId != null" >
        product_story_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productStoryId != null" >
        #{productStoryId,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.webshop.pojo.entity.ProductStory" >
    update product_story
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where product_story_id = #{productStoryId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.webshop.pojo.entity.ProductStory" >
    update product_story
    set name = #{name,jdbcType=VARCHAR}
    where product_story_id = #{productStoryId,jdbcType=TINYINT}
  </update>
</mapper>