<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webshop.dao.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.cn.webshop.pojo.entity.Supplier" >
    <id column="supplier_id" property="supplierId" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    supplier_id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where supplier_id = #{supplierId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from supplier
    where supplier_id = #{supplierId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.cn.webshop.pojo.entity.Supplier" >
    insert into supplier (supplier_id, name)
    values (#{supplierId,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.webshop.pojo.entity.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        #{supplierId,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.webshop.pojo.entity.Supplier" >
    update supplier
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where supplier_id = #{supplierId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.webshop.pojo.entity.Supplier" >
    update supplier
    set name = #{name,jdbcType=VARCHAR}
    where supplier_id = #{supplierId,jdbcType=TINYINT}
  </update>
</mapper>